{% extends "auctions/layout.html" %}

{% block body %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if active == 1 %}active {% endif %}" href="{% url 'auction:index' %}">Всі</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active == 2 %}active {% endif %}" href="{% url 'auction:indexActive' %}">Активні</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active == 3 %}active {% endif %}" href="{% url 'auction:indexWatchList' %}">Відстеження</a>
  </li>

</ul>

<a type="button" class="btn btn-outline-success" href="{% url 'auction:addAuction' %}" style="position:absolute; top:20px; right:20px">додати аукціон</a>

{% if active == 1 %}<form action="{% url 'auction:changeCategoryAuction' %}" method="post">{% endif %}
{% if active == 2 %}<form action="{% url 'auction:changeCategoryActiveAuction' %}" method="post">{% endif %}
{% if active == 3 %}<form >{% endif %}
{% if active != 3 %}
  {% csrf_token %}
  <label>Відбір за категорією: </label>
  <select class="form-select" name="chooseCat">
    {% if currentCat == 'all' %}
    
    <option  selected  value='all'>всі категорії</option>
    {% else %}
  <option  value='all'>всі категорії</option>
  {% endif %}
    {% for category in categories %}
    {% if currentCat == category.name %}

    <option value={{category.id}} selected >{{ category.name }}</option>
    {% else %}
    <option value={{category.id}}>{{ category.name }}</option>
    {% endif %}
    {% endfor %}
  </select>

  <button type="submit" class="button">ok</button>
<hr>
{% endif %}
<div class =" d-inline-flex " style="    flex-wrap: wrap;">
{% if not auctions %}
<h1> список порожній </h1>
{% else %} 
  {% for auction in auctions %}
<div class=" col-xs-12 col-md-6 col-xl-3 py-1 px-1">
<div class="card py-1" >
  <div style ="position:absolute; left:10px;">
    <h6>{{auction.status}}</h6>
    {% if user.is_authenticated %}
    {% if auction.id in watchList or active == 3 %}
<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-eyeglasses" viewBox="0 0 16 16">
  <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
</svg>       
    {% endif %}
    {% endif %}
  </div>

    <img src='/media/{{auction.image}}' class="card-img-top big-picture" alt="...">
    <div class="card-body">
      <h6 class="card-title">{{auction.name}}</h6>
      <hr>
      <div class="card-text card-description" ><small>{{auction.description}}</small></div>
      <hr>
      <div><strong>Початкова вартість </strong>{{auction.first_rate}} грн.</div>
      <div><strong>Поточна ставка </strong> {{auction.last_rate}} грн.</div>
      <a href="/auction/{{auction.id}}" class="btn btn-primary full-width">детальна інформація</a>
      <hr>
      {% for categori in auction.categori.all %}
      <small class="border border-1"><strong> {{categori.name}}</strong></small>
      {% endfor %}
    
    </div>
  </div>
</div>
</form>

  {% endfor %}
  {% endif %}
</div>

{% endblock %}