{% extends "base.html" %}

{% block content %}
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auction:index' %}">Active Listings</a>
            </li>
        </ul>
        <hr>
{% endblock %}

{% block body %}
{% endblock %}

